canvas {
    background: yellow;
}
.container{
    margin-right: auto;
    margin-left:auto;
    height:600px;
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
