* {
    margin: 0;
    padding: 0;
}
canvas {
    background: #008B8B;
}
button{
    height: 50px;
    font-size: 30px;
}
.content{
    margin-right: auto;
    margin-left:auto;
    height: 550px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}